name: Test Application Deployment
on:
  pull_request:
    branches: [ "main" ]

jobs:

  build-backend-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: false
          platforms: linux/amd64
          tags: ${{ secrets.DOCKERHUB_ASSEMBLE_BACKEND_TAG }}
          context: ./backend

  build-frontend-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: false
          platforms: linux/amd64
          tags: ${{ secrets.DOCKERHUB_ASSEMBLE_FRONTEND_TAG }}
          context: ./frontend
          build-args: |
            BACKEND_API_URL=${{ secrets.BACKEND_API_URL }}